.Navbar{
    width: 100%;
    margin-top: 15px;
    position:relative;
    font-family:'Raleway', sans-serif;
}
.outer{
    display: flex;
    justify-content: space-between;
}
.dropdown{
    position: absolute;
    box-shadow: 1px 1px 15px rgb(226, 226, 226);
    right: 17%;
}
.curren{
    margin: 15px;
}
.curren:hover{
    cursor: pointer;
}
.flex-col{
    display:flex;
    flex-direction: column;
}
.nav-left{
    margin-left: 250px;
}
.flex{
    display:flex;
}
.shopping{
    margin-top: 15px;
}
.mt2{
    margin-top:23px;
    margin-left: 3px;
}

.right{
    margin-right: 250px;
}
.link{
    margin-right: 24px;
    height: 100%;
    padding: 5px 0 0px 0;
}
.link:hover, .link:active{
    color: rgb(73, 216, 73);
    cursor: pointer;
    font-weight: 500;
    border-bottom: 3px solid rgb(73, 216, 73);
}
.space{
    margin-right: 25px;
}
.navlink:hover{
    cursor:pointer;
}